body {
  background-color: purple;
}

h1 {
  display: flex;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: royalblue;
  font-size: auto;
  padding: 0 0 25 px;
}

.search {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}

.suggestion li {
  background-image: linear-gradient(rgb(240, 200, 184), rgb(212, 2, 2));
  flex-wrap: wrap;
  padding: 8px;
  border-radius: 4px;
  margin: 10px;
}
