body {
  background: rgb(5, 160, 70);
}

.header {
  display: flex;
  justify-content: center;
  font-family: "Lobster";
  color: #00e1ff;
  font-size: 40px;
  padding: 0 0 25px;
}

.searcher {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}

.container {
  max-width: 600px;
}

.bar {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  background-color: rgb(8, 32, 167);
  padding: 8px;
  border-radius: 4px;
  justify-content: center;
}

.name {
  font-weight: bold;
  text-transform: uppercase;
}
.address {
  font-style: italic;
}

.category {
  font-style: italic;
}

.suggestions li {
  background-image: linear-gradient(rgb(185, 153, 236), white);
  flex-wrap: wrap;
  padding: 8px;
  border-radius: 4px;
  margin: 10px;
}
